p {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid 3px #FFFC19;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    color: #0971B3;
}