/* 1) Todos os elementos com o atributo “id” devem ser sublinhados, independente do valor do id.
(insira no html elementos com e sem id para demonstrar) */

[id] {
    text-decoration: underline;
}

/* 2) Todo parágrafo que siga um título de nível 2 fique com margem direita de 1cm, margem
esquerda de 2cm, margens superior e inferior de aproximadamente 3 letras (use a unidade associada
ao tamanho da fonte). */

h2 + p {
    margin-right: 1cm;
    margin-left: 2cm;
    margin-top: 3em;
    margin-bottom: 3em;
}

/* 3) Todo elemento da classe “itemEspecial” que esteja dentro de uma lista ordenada fique com
uma fonte duas vezes maior do que os demais elementos. Atenção pois elementos da mesma classe
em listas não ordenadas não ficarão maiores. */

ol > .itemEspecial {
    font-size: x-large;
}

/* 4) Todo botão de rádio selecionado fique com fundo vermelho com transparência de 50%. */
input[type="radio"]:checked {
    accent-color: rgb(255, 0, 0);
    opacity: 0.5;
}

/* 5) Ao passar o cursor do mouse sobre qualquer elemento da classe “importante” ele deve ficar escrito em branco sobre fundo negro. */
.importante:hover {
    color: white;   
    background-color: black;
}

/* 6) A primeira letra de qualquer parágrafo deve ficar três vezes maior do que as demais. */
p::first-letter {
    font-size: xx-large;
}

