form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: linear-gradient(rgb(41, 206, 104), rgb(156, 232, 189));
    color: rgb(0, 0, 0);
    border-width: 10px;
    border-style: ridge;
    border-radius: 1cm;
    border-color: rgb(6, 61, 35);

    height: 250px;
    width: 250px;


    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}