* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#textoInicial {
    margin-top: 5%;
}

#menuH ul {
    list-style-type: none;
    padding: 0;
    background-color: #B31212;
    user-select: none;
    position: fixed;
    width: 100%;
    text-align: center;
    margin-top: -5%;
}

#menuH ul li {
    display: inline;
}

#menuH ul li a {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 17px;
    text-decoration: none;
    transition: background .6s;
    font-size: 100%;
}

#menuH ul li a:hover {
    background-color: #FF0000;
}

.textoMenu {
    margin-left: 4%;
    margin-right: 4%;
}

p {
    font-size: 20px;
    margin: 1%;
}

img {
    max-width: 100%;
    height: auto;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid 3px #FFFC19;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    color: #0971B3;
    margin: 1%;
}

#lista {
    margin: 1%;
    margin-left: 3%;
    font-size: 20px;
}

#linkBibliografia {
    color: #19A6FF;
    text-decoration-style: none;
}

#linkBibliografia:hover {
    color: #0971B3;
}

#linkBibliografia:visited {
    color: #B31212;
}

#rodape ul {
    bottom: 0%;
    list-style-type: none;
    padding: 5px;
    background-color: #B31212;
    user-select: none;
    width: 100%;
    text-align: center;
}

#rodape ul li {
    display: inline;
    color: white;
}

#texto3 {
    font-size: 11px;
}

.rodapeTexto {
    font-size: 14px;
    margin-bottom: 10px;
}