body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, td {
    background-color: aliceblue;
    border: 3px, gray, solid;
}

#enviar, #reiniciar {
    text-align: center;
}