* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#textoInicial {
    margin-top: 5%;
}

#menuH ul {
    list-style-type: none;
    padding: 0;
    background-color: #B31212;
    user-select: none;
    position: fixed;
    width: 100%;
    text-align: center;
    margin-top: -5%;
}

#menuH ul li {
    display: inline;
}

#menuH ul li a {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 17px;
    text-decoration: none;
    transition: background .6s;
}

#menuH ul li a:hover {
    background-color: #FF0000;
}

.textoMenu {
    margin-left: 4%;
    margin-right: 4%;
}

p, h1 {
    margin: 1%;
}
h1 {
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
    color: #0971B3;
}

p {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid 3px #FFFC19;
}

.legendaImagem {
    margin-right: 20%;
    margin-left: 20%;
}

#rodape ul {
    bottom: 0%;
    list-style-type: none;
    padding: 5px;
    background-color: #B31212;
    user-select: none;
    width: 100%;
    text-align: center;
}

#rodape ul li {
    display: inline;
    color: white;
}

#texto3 {
    font-size: 11px;
}

.rodapeTexto {
    font-size: 14px;
    margin-bottom: 10px;
}

#cores {
    color: #FFFC19;
    color: #B31212;
    color: #FF0000;
    color: #19A6FF;
    color: #0971B3;
}